
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>AdminLTE 3 | Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/plugins/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="~/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
    <link rel="stylesheet" href="~/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <link rel="stylesheet" href="~/plugins/jqvmap/jqvmap.min.css">
    <link rel="stylesheet" href="~/dist/css/adminlte.min.css">    
    <link rel="stylesheet" href="~/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
    <link rel="stylesheet" href="~/plugins/daterangepicker/daterangepicker.css">
    <link rel="stylesheet" href="~/plugins/summernote/summernote-bs4.css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
    
    <link href="https://fonts."
</head>
<body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">

        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand navbar-white navbar-light">
            <!-- Left navbar links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
                </li>

            </ul>

            <!-- SEARCH FORM -->
            <!-- Right navbar links -->
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" data-widget="control-sidebar" data-slide="true" href="#" role="button">
                        <i class="fas fa-th-large"></i>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- /.navbar -->
        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <!-- Brand Logo -->
            <a href="#" class="brand-link">
                <img src="~/dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
                     style="opacity: .8">
                <span class="brand-text font-weight-light">Kütüphane Personel</span>
            </a>

            <!-- Sidebar -->
            <div class="sidebar">
                <!-- Sidebar user panel (optional) -->
                <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                    <div class="image">
                        <img src="~/dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
                    </div>
                    <div class="info">
                        <a href="#" class="d-block">@Session["Staffadsoyad"]</a>
                    </div>
                </div>

                <!-- Sidebar Menu -->
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                        <!-- Add icons to the links using the .nav-icon class
                        with font-awesome or any other icon font library -->
                        <li class="nav-item has-treeview">
                            <!--Menu open-->
                            <a href="/AdminOperation" class="nav-link">
                                <!--active-->
                                <i class="nav-icon fas fa-tachometer-alt"></i>
                                <p>
                                    İşlemler
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="/AdminOperation/Index" class="nav-link">
                                        <!--active-->
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Ana sayfa</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/AdminOperation/AddOperation" class="nav-link">
                                        <!--active-->
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Yeni İşlem başlat</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/AdminOperation/WaitOperation" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Beklyen işlemlerim</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/AdminOperation/MyTotalOperation" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Bütün İşlemlerim</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/AdminOperation/TotalOperation" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Bütün işlemler</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item has-treeview">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-tachometer-alt"></i>
                                <p>
                                    Kitap Türleri
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="/AdminTur/AddTur" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Tür ekle</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/AdminTur/Index" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Türler Listesi</p>
                                    </a>
                                </li>

                            </ul>
                        </li>
                        <li class="nav-item has-treeview">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-tachometer-alt"></i>
                                <p>
                                    Kitaplar
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="/AdminBook/AddBook" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Kitap Ekle</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/AdminBook/Index" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Kitaplar listesi</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item has-treeview">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-tachometer-alt"></i>
                                <p>
                                    Yazar
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="/AdminAuthor/AddAuthor" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Yazar Ekle</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/AdminAuthor/Index" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Yazarlar Listesi</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item has-treeview">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-tachometer-alt"></i>
                                <p>
                                    Öğrenci
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="/AdminStudent/AddStudent" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Öğrenci Kaydı</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/AdminStudent/Index" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Öğrenci Listesi</p>
                                    </a>
                                </li>
                            </ul>
                        </li>

                        @{ try
                            {

                                if ((bool)Session["Admin"] == true)
                                {
                                    <li class="nav-item has-treeview">
                                        <a href="#" class="nav-link">
                                            <i class="nav-icon fas fa-tachometer-alt"></i>
                                            <p>
                                                Personel
                                                <i class="right fas fa-angle-left"></i>
                                            </p>
                                        </a>
                                        <ul class="nav nav-treeview">
                                            <li class="nav-item">
                                                <a href="/AdminStaff/AddStaff" class="nav-link">
                                                    <i class="far fa-circle nav-icon"></i>
                                                    <p>Personel Ekle</p>
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="/AdminStaff/Index" class="nav-link">
                                                    <i class="far fa-circle nav-icon"></i>
                                                    <p>Personel Listesi</p>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                }
                            }
                            catch (Exception e)
                            {

                            }
                        }



                        <li class="nav-item has-treeview">
                            <a href="/login/LogOut" class="nav-link">
                                <i class="left fas fa-angle-left"></i>
                                <p>
                                    Çıkış yap
                                </p>
                            </a>
                        </li>

                    </ul>
                </nav>
                <!-- /.sidebar-menu -->
            </div>
            <!-- /.sidebar -->
        </aside>
        @RenderBody()

        <!-- /.content-wrapper -->
        <footer class="main-footer">
            <strong>Bahadır AKKAŞOĞLU &copy; 2024 <a href="http://bahadirakkas.onrender.com">bahadirakkas.onrender.com</a>.</strong>
            All rights reserved.
            <div class="float-right d-none d-sm-inline-block">
                <b>Version</b> 1.0.0
            </div>
        </footer>
    </div>
    <!-- ./wrapper -->
    <!-- jQuery -->
    <script src="~/dist/js/Active.js"></script>
    <script src="~/plugins/jquery/jquery.min.js"></script>
    <!-- jQuery UI 1.11.4 -->
    <script src="~/plugins/jquery-ui/jquery-ui.min.js"></script>
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script>$.widget.bridge('uibutton', $.ui.button)</script>
    <!-- Bootstrap 4 -->
    <script src="~/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- ChartJS -->
    <script src="~/plugins/chart.js/Chart.min.js"></script>
    <!-- Sparkline -->
    <script src="~/plugins/sparklines/sparkline.js"></script>
    <!-- JQVMap -->
    <script src="~/plugins/jqvmap/jquery.vmap.min.js"></script>
    <script src="~/plugins/jqvmap/maps/jquery.vmap.usa.js"></script>
    <!-- jQuery Knob Chart -->
    <script src="~/plugins/jquery-knob/jquery.knob.min.js"></script>
    <!-- daterangepicker -->
    <script src="~/plugins/moment/moment.min.js"></script>
    <script src="~/plugins/daterangepicker/daterangepicker.js"></script>
    <!-- Tempusdominus Bootstrap 4 -->
    <script src="~/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
    <!-- Summernote -->
    <script src="~/plugins/summernote/summernote-bs4.min.js"></script>
    <!-- overlayScrollbars -->
    <script src="~/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/dist/js/adminlte.js"></script>
    <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
    <script src="~/dist/js/pages/dashboard.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="~/dist/js/demo.js"></script>
</body>
</html>

