@model List<EntityLayer.tur>

@{
    Layout = null;
    
}

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<br />
<div class=" w-75 mx-auto my-auto p-4 shadow">
    <h3>Kütüphane sistemi Türler</h3>
    <br />

    <table class="table table-bordered">
        <tr>
            <th>Tür Id</th>
            <th>Tür Adı</th>
            <th></th>
        </tr>
        @{ foreach (var i in Model)
            {

                <tr>
                    <th>@i.turno</th>
                    <th>@i.ad</th>
                    <th><button class="btn btn-warning">Güncelle</button></th>
                </tr>
            }
        }
    </table>

    <a href="~/Tur/turAdd" class="btn btn-info">Yeni Tür</a>
    
</div>

