
@{
    Layout = null;
}

<h3>MVC kamp tablo örneği</h3>
<br/>
<table>
    <tr>
        <th>Tür Id</th>
        <th>Tür Adı</th>
    </tr>
    <tr>
        <th>1</th>
        <th>Roman</th>
    </tr>
</table>
