
@{
    Layout = null;
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<br />
<div class=" w-75 mx-auto my-auto p-4 shadow">
    <h3>MVC kamp tablo örneği</h3>
    <br />

    <table class="table table-bordered">
        <tr>
            <th>Tür Id</th>
            <th>Tür Adı</th>
        </tr>
        @{ for (int i = 0; i < 100; i++)
            {

                <tr>
                    <th>1</th>
                    <th>Roman</th>
                </tr>
            }
        }
    </table>
</div>

<button class="btn btn-info">Yeni Tür</button>
<button class="btn btn-warning">Türlerin listesi</button>