@model EntityLayer.tur

@{
    Layout = null;
}


<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<br />
<div class="  w-75 mx-auto my-auto p-4 shadow">
    @using (Html.BeginForm("turAdd", "tur", FormMethod.Post))
    {
        <h3>Kütüphane otomasyonu Tür ekleme</h3>
        <br />
        <div class="form-group">
            @Html.Label("Tür Adı")
            @Html.TextBoxFor(x => x.ad)
            @Html.ValidationMessageFor(x => x.ad)
            <button type="submit" class="btn btn-primary">Ekle</button>
        </div>

    }
    @*<form method="post">
            <h3>Kütüphane otomasyonu Tür ekleme</h3>
            <br />
            <div class="form-group">
                <label>Tür adını giriniz</label>
                <input name="ad" type="text" class="form-control" >
            </div>
            <br />
            <button type="submit" class="btn btn-primary">Ekle</button>
        </form>*@
</div>
