
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<br />
<div class="content-wrapper">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Yazarlar</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item">Home</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">

                        <div class="card-header">
                            <h3 class="card-title">Yazar listesi</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <button class="btn btn-primary" data-toggle="modal" data-target="#Modal1">
                                Yeni Yazar Girişi
                            </button>
                            <div class="modal" id="Modal1">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h2 class="modal-title">
                                                Yazar adı
                                            </h2>
                                        </div>
                                        <form method="post" action="/AdminAuthor/AddAuthor">
                                            <div class="modal-body">
                                                <label>Yazar Adı</label>
                                                <input type="text" name="Name" class="form-control" />
                                                <br />
                                                <label>Yazar Soyadı</label>
                                                <input type="text" name="Surname" class="form-control" />
                                                <br />
                                                <button class="btn btn-info">Kaydet</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <a href="/AdminAuthor/AddAuthor" class="btn btn-info" style="float:right;">+ Yeni Yazar ekle</a>
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Yazar Adı Soyadı</th>
                                        <th>Foto</th>
                                        <th>Güncelle</th>
                                        <th>Sil</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var i in Model)
                                    {
                                        <tr>
                                            <th>@i.AuthorId</th>
                                            <td><a href="/AdminBook/AuthorBook/@i.AuthorId">@i.Name @i.Surname</a></td>
                                            <td><p>@i.Photo</p></td>
                                            <td><a href="/AdminAuthor/UpdateAuthor/@i.AuthorId" class="btn btn-warning">Güncelle</a></td>
                                            <td><a href="/AdminAuthor/DeleteAuthor/@i.AuthorId" class="btn btn-danger">Sil</a></td>
                                        </tr>

                                    }
                                </tbody>
                            </table>
                        </div>

                        <!-- /.card-body -->
                        <div class="card-footer clearfix">
                            <ul class="pagination pagination-sm m-0 float-right">
                                <li class="page-item"><a class="page-link" href="#">&laquo;</a></li>
                                <li class="page-item"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item"><a class="page-link" href="#">&raquo;</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

