
@{
    ViewBag.Title = "Page404";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="error-page">
            <h2 class="headline text-warning"> <i class="fas fa-exclamation-triangle text-warning"></i> 404</h2>
            <br />
            <h3>Hata! Sayfa bulunamadı.</h3>
            <h3><a href="/AdminTur/Index">ana sayfaya geri dön</a></h3>
            <!-- /.error-content -->
        </div>
        <form class="search-form">
            <div class="input-group">
                    <div class="error-page"></div>
            </div>
            <!-- /.input-group -->
        </form>
        

        <!-- /.error-page -->
    </section>
    <!-- /.content -->
</div>

