@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    var list = ((IEnumerable<SelectListItem>)ViewBag.number).ToList();
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<br />
<div class="content-wrapper">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Türler Listesi</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item">Home</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Tür listesi</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <a href="/AdminTur/AddTur" class="btn btn-info" style="float:right;">+ Yeni tür ekle</a>
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Tür Ad</th>
                                        <th>Kitap sayisi</th>
                                        <th>Açıkılama</th>
                                        <th>Güncelle</th>
                                        <th>Sil</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var i in Model)
                                    {
                                        
                                        var item = list.FirstOrDefault(x => x.Value == i.GenreId.ToString());
                                        
                                        <tr>
                                            <th>@i.GenreId</th>
                                            <td><a href="/AdminTur/GenreBook/@i.GenreId">@i.Name</a></td>
                                            <td>@item.Text</td>
                                            <td><p>@i.Info</p></td>
                                            <td><a href="/AdminTur/Updatetur/@i.GenreId" class="btn btn-warning">Güncelle</a></td>
                                            <td><a href="/AdminTur/Deletetur/@i.GenreId" class="btn btn-danger">Sil</a></td>
                                        </tr>

                                    }
                                </tbody>
                            </table>
                        </div>
                        
                        <!-- /.card-body -->
                
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
